@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Open+Sans&display=swap');

*{
    user-select: none;
}

body{
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
	background-color:white;
}

/* Barre de navigation */

nav{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
}

nav h1{
    color : #717171;
    font-family: "Ms Madi", sans-serif;
    font-size: 30px;
}

/* Onglet de la barre de la navigation */

nav .onglets{
    margin-top:3px;
    margin-left: 300px;
}

nav .onglets a{
    text-decoration : none;
    color: #000;
    margin-right:10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

nav .onglets a:hover{
    color:rgb(116, 116, 116);
    border-bottom: 1px solid rgb(116, 116, 116);
    padding-bottom: 10px;
    transition: 0.5s;
}

/* footer */
footers {
    position:absolute;
    width: 100%;
    bottom:auto;
}

footers h1{
	text-align:center;
	border-bottom: 5px solid #6f6f6f;
    border-top: 5px solid #6f6f6f;
	font-size: 20px;
	padding : 20px;
	margin-top:0px;
	margin-bottom:0px;
	color : #717171;
}

/* Accueil paragraphe */

div.accueil {
    display:flex;
    height: 100%;
    width:100%
}

div.accueil p{
    text-align: center;
    align-items: center;
    padding : 10px;
    font-size: 50px;
    font-weight: bold;
    color: #717171;
    border-radius:30px;
    background-color: white;
    border: 5px solid #6f6f6f;
}

/* Programmes */

div.prog{
    text-align: center;
    width: 900px;
    margin: auto;
}

div.prog center{
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    border: 5px solid #6f6f6f;
    color: #6f6f6f;
    font-weight: bold;
}

div.prog img{
    border-radius: 30px;
    width: 100%;  
    margin-bottom: 50px; 
}

div.prog img#bis{
    margin-bottom: 5px; 
}


/* Bonton téléchargement */
div.prog a#btn{
    border-radius: 30px;
    width: 200px;
    height: 42px;
    font-family: arial, sans-serif;
    font-weight: 700;
    position: relative;
    color: #6f6f6f;
    z-index: 0;
    border: 5px solid #6f6f6f;
    background: white;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-bottom: 10px;
  }

div.prog a#btn::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6f6f6f;
    border-radius: 50% 50% 0% 0%;
    z-index: -1;
    transition: all .5s;
  }

div.prog a#btn:hover{
    transition : 1s;
    color : white
}

div.prog a#btn:hover::before {
    top: 0px;
    border-radius: 0;
  }

/* Lien */
div.prog a{
    color: #6f6f6f;
}
